/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */

:root {
    --font-family: 'Inter-Variable';
    --font-family-accent: 'PressStart2P-Regular';
    --font-weight-title: 700;
    --font-weight-content: 400;
    --header-padding-block: clamp(7.5rem, 7.324rem + 0.751vw, 8rem);
    --section-width: clamp(23.438rem, 16.285rem + 30.516vw, 43.75rem);
    --header-font-size-logo: clamp(3.063rem, 2.71rem + 1.502vw, 4.063rem);
    --header-font-size-title: clamp(0.875rem, 0.677rem + 0.845vw, 1.438rem);
    --text-color: #000;
    --border-color: var(--text-color);
    --bg-color: #fff;
    --block-size-button: 38px;
    --font-size-content: 18px;
    --font-size-accent: 14px;
    --lable-padding-inline-right: clamp(0.813rem, 0.548rem + 1.127vw, 1.563rem);
    --inline-size-button-save: 335px;
    --icon-save-size: 21px;
    --bg-image:
        repeating-linear-gradient(to right, #d3d3d3 0 2px, transparent 2px 4px),
        repeating-linear-gradient(to bottom, #d3d3d3 0 2px, transparent 2px 4px),
        linear-gradient(to bottom, #e7e7e7 0.01%, #1a1a1a 100%);
    --size-icon-popup: 39px;
    --size-popup: clamp(21.313rem, 21.048rem + 1.127vw, 22.063rem);
    --padding-popup-inline: 30px;
    --color-heart-contour: #000;
    --color-heart-fill: #FF0000;


}


@media (width <= 376px) {
    :root {
        --section-width: 100%;
        --inline-size-button-save: 306px;
        --icon-save-size: 28px;
        --padding-popup-inline: 40px;
    }
}